html{
    position: relative;
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
}
.jumbotron {
    background-image: url('../img/background.jpeg');
    background-attachment: fixed;
    background-size: cover;
    color: #eaeaea;
}
.jumbotron img{
    width: 200px;
    border: 5px solid #eaeaea;
}
.jumbotron h1{
    font-size: 30px;
}
.jumbotron p{
    font-size: 18px;
}
hr{
    width: 250px;
    border: 3px solid #999;
}

section{
    min-height: 600px;
}
.pKiri, .pKanan{
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 2s;
}

.pKanan{
    transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul, .pKanan.pMuncul{
    opacity: 1;
    transform: translate(0,0);
}
.portofolio{
    background-color: #eee;
}
.gambar{
    margin-top: 4%;
    opacity: 0;
    transform: translate(0, 40px);
    transition: .5s;
}
.gambar.muncul { 
    opacity: 1;
    transform: translate(0,0);
}
.contact{
    height: 900px;
}
footer{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #333;
    padding-top: 3%;
}

footer p{
    color: #aaa;
    font-size: 1em;
}
